@charset "UTF-8";
/* CSS Document */

body{
	background-color:rgba(214,229,249,1.00)
}

h1{
	color: rgba(214,229,249,1.00);
	font-family:sans-serif;
	font-size: 2em;
	padding: 1em 2em 1.0em 2.25em;
	background-color:rgb(88,122,166);
}

h2{
	font-family:sans-serif;
	font-size: 1.5em;
	font-weight:600;
	padding: 0.5em 4em 0.5em 4.75em;
}

h3{
	font-family:sans-serif;
	font-weight:400;
	padding:0.5em 1.5em;
}

h4{
	color: rgb(88,122,166);
	font-family:sans-serif;
	font-size: 1em;
	font-weight:400;
}

li{
	list-style:none;
}

p{
	font-weight:100;
	font-family:sans-serif;
	font-size:1em;
	padding:0em 2em 0.5em 0.5em;
}



